* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #121212;
  color: #d9d8d3;
  font-size: clamp(14px, 1vw, 18px);
}

@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

.main {
  max-width: 2000px;
}
main {
  width: 100%;
  @include flex-column(0rem);

  /* Section1 */

  .section1 {
    @include flex-column(1rem);
    padding: 1rem;

    .top {
      img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
      }
    }

    .bottom {
      background-color: #1e1e1e;
      @include flex-column(3rem);
      border-radius: 1rem;
      padding: 1.5rem;

      .text {
        @include flex-column(1rem);

        h1 {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 2.7rem;
        }

        p {
          padding: 0;
          font-size: 1.4rem;
          line-height: 1.5;
        }

        button {
          width: fit-content;
          border: none;
          padding: 0.7rem 1rem;
          border-radius: 0.5rem;
        }
      }
    }
  }

  /* Section2 */

  .section2 {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;

    .lfrg {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .lsrs {
        p {
          font-size: 1.2rem;
          opacity: 0.69;
        }

        h2 {
          font-size: 2.3rem;
          font-weight: 400;
        }
      }
    }
  }

  /* Section3 */

  .section3 {
    @include flex-column(1rem);
    padding: 1rem;

    .s3-image {
      img {
        width: 100%;
        border-radius: 1rem;
      }
    }

    .s3-text {
      background-color: #1e1e1e;
      @include flex-column(3rem);
      border-radius: 1rem;
      padding: 1.5rem;

      .inner-txt {
        @include flex-column(1.4rem);
        h2 {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 2.8rem;
        }

        p {
          padding: 0;
          font-size: 1.4rem;
          line-height: 1.5;
        }
      }
    }
  }

  /* Section4 */

  .section4 {
    padding: 1rem;
    @include flex-column(2rem);
    .card {
      width: 100%;
      background-image: url(./assets/card1.webp);
      aspect-ratio: 1/1;
      background-size: cover;
      @include flex-column(0rem);
      justify-content: space-between;
      padding: 1rem;
      border-radius: 1rem;

      .top {
        display: flex;
        justify-content: end;
        padding: 1rem;
        gap: 0.5rem;

        .ca {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.4rem;
          background-color: #2524245a;
          backdrop-filter: blur(5px);
          width: fit-content;
          border-radius: 50%;
        }
      }

      .bottom {
        background-color: #2524245a;
        backdrop-filter: blur(5px);
        padding: 1rem 1rem;
        border: 1px solid white;
        border-radius: 0.5rem;
        display: flex;
        justify-content: space-around;
      }
    }
  }

  /* Section5 */

  .section5 {
    @include flex-column(1rem);
    padding: 1rem;

    .top {
      img {
        width: 100%;
        border-radius: 1rem;
      }
    }

    .bottom {
      background-color: #1e1e1e;
      padding: 2rem;
      @include flex-column(3rem);
      justify-content: space-between;
      border-radius: 1rem;

      .text {
        @include flex-column(1rem);

        p {
          opacity: 0.9;
        }

        h1 {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 2.4rem;
        }
      }

      .inner-text {
        display: flex;
        align-items: center;
        gap: 0.7rem;

        i {
          padding: 0.3rem;
          background-color: #292929;
          border: 1px solid white;
          border-radius: 100%;
        }

        p {
          font-weight: 600;
        }
      }
    }
  }

  /* Section6 */

  .section6 {
    padding: 1rem;

    .sec6-wrappper {
      background-color: #cebd63;
      color: #121212;
      border-radius: 1rem;
      @include flex-column(1rem);
      padding: 1.5rem;
    }

    .top {
      p {
        font-weight: 600;
      }
    }

    .bottom {
      @include flex-column(1rem);
      h1 {
        text-transform: uppercase;
        font-size: 2.4rem;
        font-weight: 400;
      }

      button {
        padding: 0.7rem;
        background-color: #121212;
        color: #cebd63;
        text-transform: uppercase;
        border: none;
        border-radius: 0.3rem;
      }
    }
  }

  /* Section7 */

  .section7 {
    @include flex-column(0rem);

    .right {
      padding: 1rem;
      .right-wrapper {
        @include flex-column(3rem);
        justify-content: space-between;
        background-color: #1e1e1e;
        padding: 1rem;
        border-radius: 1rem;

        h1 {
          font-weight: 400;
          font-size: 1.8rem;
        }

        .icons {
          display: flex;
          gap: 0.7rem;

          .ca {
            padding: 0.3rem;
            background-color: #292929;
            border: 1px solid white;
            border-radius: 50%;

            i {
              font-size: 1.5rem;
            }
          }
        }
      }
    }

    .top {
      padding: 1rem;

      .top-wrapper {
        @include flex-column(3rem);
        padding: 2rem;
        background-color: #1e1e1e;
        border-radius: 1rem;

        .pages {
          @include flex-column(2rem);

          h1 {
            font-weight: 400;
            font-size: 1.5rem;
          }
          a {
            text-decoration: none;
            color: #9e9d9a;
            text-transform: uppercase;
            font-size: 1.1rem;
            font-weight: 500;
          }

          .btn{
            background-color: #cebd63;
            color: #292929;
            width: fit-content;
            padding: 0.9rem;
            border-radius: 0.4rem;
            border: none;
          }
        }

        .cms{
          @include flex-column(2rem);

          h1 {
            font-weight: 400;
            font-size: 1.5rem;
          }
          a {
            text-decoration: none;
            color: #9e9d9a;
            text-transform: uppercase;
            font-size: 1.1rem;
            font-weight: 500;
          }


        }

        .utility{
          @include flex-column(2rem);

          h1 {
            font-weight: 400;
            font-size: 1.5rem;
            text-transform: uppercase;
          }
          a {
            text-decoration: none;
            color: #9e9d9a;
            text-transform: uppercase;
            font-size: 1.1rem;
            font-weight: 500;
          }
        }
      }
    }

    .bottom{
      padding: 1rem;

      .bottom-wrapper{
        padding: 2rem;
        background-color: #1E1E1E;
        border-radius: 1rem;
        @include flex-column(2rem);
        align-items: center;

        .upper{
          display: flex;
          
          
          
          

          p{
            font-size: 1.1rem;
            font-weight: 500;
            text-transform: uppercase;
            text-align: center;

            i{
              font-size: 1rem;
            }
          }
        }

        .lower{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          p{
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 600;

          }

          i{
            background-color: #292929;
            border-radius: 50%;
            padding: 0.3rem;
            border: 0.5px solid white;
          }
        }
      }
    }

    
  }
}

@media (min-width: 900px) {
  main {
    .section1 {
      flex-direction: row;
      padding: 1rem 3rem;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        padding: 3rem;
        justify-content: space-between;

        .text {
          gap: 1.5rem;
          h1 {
            font-size: 4rem;
          }

          p {
            width: 60%;
            font-size: 1rem;
          }
        }
      }
    }

    .section2 {
      display: flex;
      padding: 1rem;
      justify-content: space-evenly;
      align-items: start;
      gap: 4rem;

      .lfrg {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4rem;

        .lsrs {
          display: flex;
          flex-direction: column;
          align-items: center;
          p {
            font-size: 0.95rem;
            opacity: 0.85;
          }

          h2 {
            font-size: 4rem;
            font-weight: 400;
          }
        }
      }
    }

    .section3 {
      flex-direction: row-reverse;
      padding: 1rem;

      .s3-image,
      .s3-text {
        width: 50%;
      }

      .s3-text {
        display: flex;
        justify-content: space-between;

        .inner-txt {
          h2 {
            font-size: 3rem;
          }
          .inner-txt-p {
            display: flex;
            justify-content: space-around;

            p {
              font-size: 0.9rem;
            }
          }
        }
      }
    }

    .second {
      flex-direction: row;
      padding: 1rem 3rem;
    }

    .section4 {
      display: flex;
      flex-direction: row;
      padding: 3rem;

      .card {
        .top {
          padding: 1rem;

          .ca {
            padding: 1rem;
          }
        }
      }
    }

    .section5 {
      flex-direction: row;
      padding: 1rem;
      .top,
      .bottom {
        width: 50%;
      }
    }

    .section6 {
      .sec6-wrappper {
        .bottom {
          flex-direction: row;
          justify-content: space-between;

          h1 {
            font-size: 2.7rem;
            span {
              display: block;
            }
          }

          .button {
            padding: 1rem 3rem;
          }
        }
      }
    }

    .section7 {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 70% 30%;
  background: #111;
  color: #fff;
  
  
  

  /* ---------- LEFT SECTION ---------- */
  .right {   // actually this is your LEFT block
    grid-column: 1 / 2;
    grid-row: 1 / 3;   // spans both rows
    .right-wrapper{
      padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    }
    
  }

  /* ---------- TOP SECTION ---------- */
  .top {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
    
    .top-wrapper {
      display: flex;  
      flex-direction: row;              // use flex here
      justify-content: space-around;
      padding: 2rem;
    }
  }

  /* ---------- BOTTOM SECTION ---------- */
  .bottom {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    .bottom-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}

  }
}
